/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

&encoder_1_top_row {
	status = "okay";
};

# define PROC 0
# define AFFIN 1

#define NONE 0

/ {
	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder_1_top_row>;
	};

	keymap {
		compatible = "zmk,keymap";
		
		affinity_layer {
			bindings = <
						&kp LS(LG(Z))  	&kp E 		&kp I
				&none	 	&kp LG(Z) 	&kp B 		&none
				&none 		&none 		&kp P		&none
				&none 		&kp T		&lt AFFIN  A	&none
				&none          	&kp M 		&lt PROC V     	&kp LCMD
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};
		
		procreate_layer {
			bindings = <
						&kp LS(LG(Z)) 	&kp E 		&kp LALT
				&none	 	&kp LG(Z)  	&kp B 		&kp X
				&none 		&kp L 		&kp SPACE	&kp C
				&none 		&kp LG(BSPC) 	&lt AFFIN S	&kp LG(U)
				&none          	&kp LG(0) 	&lt PROC V      &kp LCMD
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};
	};
};
