/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

&encoder_1_top_row {
	status = "okay";
};

#define SWITCH 0
#define PROC 1
#define AFFINITY 2
#define AFFIN 3
#define RHINO 4
#define RHIN 5

#define NONE 0

{	    
	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&encoder_1_top_row>;
	};

	keymap {
		compatible = "zmk,keymap";

		switch_layer {
			bindings = <
						&none	 	&none 		&none
				&none	 	&to 4 		&none 		&none
				&none 		&to 2		&none		&none
				&none 		&to 1		&none		&none
				&none          	&lt SWITCH	&none     	&none
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};

		proc_layer {
			bindings = <
						&kp LS(LG(Z)) 	&kp E 		&kp LALT
				&none	 	&kp LG(Z)  	&kp B 		&kp X
				&none 		&kp L 		&kp SPACE	&kp C
				&none 		&kp LG(BSPC) 	&kp S		&kp LG(U)
				&none          	&lt SWITCH	&kp V     	&kp LCMD
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};
		
		affinity_layer {
			bindings = <
						&kp LS(LG(Z))  	&kp E 		&kp I
				&none	 	&kp LG(Z) 	&kp B 		&kp LG(SEMICOLON)
				&none 		&none 		&kp P		&kp LG(APOSTROPHE)
				&none 		&kp T		&kp A		&none
				&none          	&lt SWITCH	&none    	&mo AFFIN
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};
		affin_layer {
			bindings = <
						&none	  	&none	 	&LC(J)
				&none	 	&none	 	&none		&LC(V)
				&none 		&none 		&none		&LC(C)
				&none 		&none		&kp M 		&LC(X)
				&none          	&none		&kp V     	&none	
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};

		rhino_layer {
			bindings = <
						&kp LG(Y)	&LC(U)		&LC(0)	
				&none	 	&kp LG(Z)  	&LC(T)		&none	
				&none 		&LC(E)		&LC(M)		&kp LALT	
				&none 		&LC(J)	 	&LC(LA(E))	&kp LSHFT
				&none          	&lt SWITCH ESC	&LC(P)     	&mo RHIN
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};
		rhin_layer {
			bindings = <
						&none		&LC(2)		&LC(D)
				&none	 	&none	 	&LC(1)		&LC(V)
				&none 		&LC(LS(G)) 	&kp F2		&LC(C)
				&none 		&LC(G) 		&LC(O)		&LC(X)
				&none          	&kp ESC		&LC(LS(A))    	&none	
			>;

			sensor-bindings = <&inc_dec_kp RBKT LBKT>;
		};

	};
};
